<head>
    <meta charset="UTF-8">
    <title>#Fediverse graph</title>
    <meta name="description" content="fediverse graph">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon-16x16.png">
    -->
    <meta name="theme-color" content="#e22653">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <header>

    </header>
    <main>
        <section>
            <div class="row">
                <div class="logo">
                    <img src="img/Fediverse_logo_proposal.webp" />
                    <h3>#fediverse</h3>
                </div>
                <div class="logo">
                    <img src="img/Mastodon-logo.webp" />
                    <h3>#mastodon</h3>
                        
                </div>
            </div>
        </section>

        <section>
            <div class="row">
                <div>
                    <h3>Scripts</h3>
                    <ul>
                        <li><a href="peerings-sigma.html">peerings-sigma</a></li>
                        <li><a href="peerings-d3.html">peerings-d3</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Data</h3>
                    <ul>
                        <li><a href="data/peerings.json">peerings.json</a></li>
                    </ul>
                </div>
            </div>
        </section>

    </main>
    <footer>

    </footer>
</body>