:root {
    --ruby: #e22653;
    --grey: #999;
    --dark-grey: #666;
    --cream: #f9f7ed;
    --grid-size: 1000px;
    --grid-h-padding: 2em;
    --title-size: 550px;
    --hover-opacity: 0.7;
    --box-shadow: 0 0 8px var(--dark-grey);
}

/**
 * STRUCTURE:
 * **********
 */

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 1em;
}

.row>* {
    flex-grow: 1;
    flex-basis: 0;
}

.row div {
    text-align: center;
}
.row div>* {
    text-align: left;
}
.row div>h3 {
    text-align: center;
}

@media (max-width: 768px) {
    .row {
        display: block;
    }
}

/**
 * TYPO:
 * ****
 */

pre,
code {
    font-family: monospace;
    background: var(--cream);
}

.text-center {
    text-align: center;
}

.text-grey {
    color: var(--grey);
}

.text-ruby {
    color: var(--ruby);
}

/**
 * OTHER:
 * *****
 */

 div.logo img {
    height: 200px;
}
div.logo h3 {
    color: var(--ruby);
}
